{% extends "inicio/encabezado.html" %}
{% block titulo %}Registro{% endblock %}

{% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Registro
            <small>Ingresa tu información</small>
        </h3>
    </div>
</div>
{% endblock %}

{% block contenido %}
<form class="form-horizontal" action="#" role="form">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Matricula:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Correo:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Carrera:</label>
                <div class="col-sm-10">
                    <select data-placeholder="Elige una carrera..." class="select" tabindex="2">
                        <option value=""></option>
                        <option value="TIC">TIC</option>
                        <option value="BIO">BIO</option>
                        <option value="MAI">MAI</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Turno:</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="turno" class="styled" checked="checked"> Matutino
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="turno" class="styled"> Vespertino
                    </label>
                </div>
            </div>

            <div class="form-actions text-right">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

        </div>
    </div>
</form>
{% endblock %}
