{% extends "inicio/encabezado.html" %}
{% block titulo %}Comentarios{% endblock %}

{% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Comentarios de contacto</h3>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Mensaje</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for comentario in comentarios %}
                <tr>
                    <td>{{ comentario.usuario }}</td>
                    <td>{{ comentario.mensaje }}</td>
                    <td><a href="{% url 'ConsultaIndividual' comentario.id %}">Editar</a></td>
                    <td><a href="{% url 'Eliminar' comentario.id %}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
